<!-- _layouts/custom_layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<!-- Navigation Bar -->
<nav id="navbar">
  <ul>
	<li><a href="{{ '/' | relative_url }}#home">Home</a></li>
	<li><a href="{{ '/' | relative_url }}#about">About Myself</a></li>
	<li><a href="{{ '/' | relative_url }}#projects">Projects</a></li>
	<li><a href="{{ '/' | relative_url }}#courses">Courses</a></li>
	<li><a href="{{ '/' | relative_url }}#jams">Jams</a></li>
	<li><a href="{{ '/' | relative_url }}#contact">Contact</a></li>
	<li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
  </ul>
</nav>

<div id="content">
  {{ content }}
</div>

<div id="imageModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <div id="modal-body">
      <!-- Dynamic content will go here -->
    </div>
  </div>
</div>

<script src="/assets/js/modal.js"></script>
</body>
</html>